*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*******HEADPART SECTION********/
nav{
    display: block;
}

/*******Side-nav************/

.side-nav-btn{
    font-size:30px;
    cursor:pointer;
    padding-right: 17px;
    color: #818181;
}
.main,.navbar-brand{
  transition: margin-left .5s;
}
.side-nav,.side-nav-prof,.side-nav-settings,.side-nav-settings-account{
    position: fixed;
    width: 0px;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side-nav a,.side-nav-prof a,.side-nav-settings a,.side-nav-settings-account a{
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.side-nav-btn:hover{
    color: #f1f1f1;
    transition: 0.2s;
}
.side-nav a:hover{
    color: #f1f1f1;
}
.side-nav-prof a:hover{
    color: #f1f1f1;
}
.side-nav-settings a:hover{
    color: #f1f1f1;
}
side-nav-settings-account a:hover{
     color: #f1f1f1;
}
.side-nav .closebtn,.side-nav-prof .closebtn,.side-nav-settings .closebtn,.side-nav-settings-account .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*
.profile-link{ 
    background-image: url(guest-48.png);
    background-size: 40px;
}
.setting-link{ 
    background-image: url(settings.png);
    background-size: 39px;
}
.about-link{ 
    background-image: url(book.png);
    background-size: 35px;
}
.order-link{ 
    background-image: url(movcart.png);
    background-size: 40px;
}
.profile-link,.setting-link,.about-link,.order-link{
    background-repeat: no-repeat;
    background-position: left;
}*/
.profile{
    width: 100%;
    height: auto;
}
.side-nav-prof img{
   position:static;
    margin: 0px 40%;
}
.profile-form{
    width: 100%;
    height: auto;
}
.side-nav-prof label{
    color: #fff;
    font-size: 20px;
    display: inline;
}
.side-nav-prof input{
    display: inline-block;
    width: 100%;   
}
.form-inline{
    width: 100%;
}
.block1{
    display: inline;
}
.block2{
    right: 50px;
}
.block2 label,.block2 input,.block1 label,.block1 input{
    display: inline;
    width: auto;
    margin: 0px 5px;
}
.block1 input{
    border-radius: 4px;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 35px
}
.side-nav-prof button{
    width: 100%;
    height: auto;
    margin: 20px;
}

.prof-img{
    border-radius: 55px;
    width: 150px;
    justify-content: center;
    display: block;
    left:40px;
    position: relative;
    padding: 10px;
}
.prof-name{
    font-size: 25px;
    text-decoration: none;
    color: #f1f1f1 !important;
}

/*********HERO-BOX********/

.hero-box{
    padding-top: 90px;
    background-image: linear-gradient(rgb(5,5,5),rgba(85, 78, 74, 0.68)),url(images-rapidabasket/cartimg.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
}

.hero-heading{
    color: #f0e8e8;
    display: block;
    margin-top: 8%;
}
.hero-text-1{
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 30px;
    display: inline-block;
    color: white;
}
.hero-text-2{
    color: white;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 30px;
}
#apos{
    font-size: 55px;
}
.search-bar{
    padding: 20px 5px;
    display: inline-block;
}
.search{
    width:380px;
    height: 40px;
    border-radius: 10px;
    border:none;
    border-style: none;
    display: inline;
    background-image:url(search-icon-png-9972.png);
    background-position: -7px; 
    background-repeat: no-repeat;
    padding-left: 38px;
    box-sizing: border-box;
    background-size: contain;
}
.search-btn{
    background-color: orange;
    position: absolute;
    border-radius: 17px;
    outline: none;
    border:none;
    border-style: none;
    width: 90px;
    padding: 8px 15px;
    margin: -2px;
    font-size: 18px;
    font-style: sans-serif;
    font-weight: 200;
    transform: translate(-45%);
    color: white;
    z-index: 1;
}

.search-btn:hover,
.search-btn:active{
    background-color: #ff8000;
    transition: 0.2s;
}

.jumbotron{
    margin-bottom: 10px;
}
/********Icons*********/
.logout-icon,.nav-cart-icon{
    color: grey;
    margin-top: 5px;
}
.cart-icon{
    margin-bottom: 4px;
}

/**********DROPDOWN MENU***********/

.dropdown-bar{
    margin-bottom: 10px;
}
.sort-text{
    font-size: 18px;
    background-color: #d4d4d4;
    display: inline;
    padding: 10px;
    margin: 10px;
}
.dropdown-btn{
    margin: 10px 5px;
}
.btn-1{
    display: inline-block;
}
.btn-2,.btn-3{
    display: inline-block;
}
.dropdown-link:hover,
.dropdown-link:active{
    background-color: #d4d4d4;
}

.last-btn{
    margin: 10px 5px;
}

/********IMAGES*******/
.images{
    background-color: #eaeaea;
}

/*img{
   display: inline-block;
    width: 100%;
    height: auto;
    border: none;
}*/

.polaroid {
  width: 100%;
  background-color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  /*position: relative;*/
}
.polaroid img{
    opacity: 0.5;
    background-color: #000;
}
.polaroid img:hover{
    opacity: 1;
    background-color: #000;
    transition: 0.5s;
    transform: scale(1.2,1.2);
    overflow:hidden;
    backface-visibility: hidden;
}
.container-price{
    /*text-align: center;*/
    height: 220px;
    width: auto;
    background-color: #fff
    /*position: relative; */   
}

.name{
    display: block;
    font-size: 22px;
    color: #000aff;
    padding: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
.offer{

}*/
.price{
    font-size: 25px;
    font-weight: 200;
    color: #f58707;
    display: inline-block;
}
.dashed-price{
    display: inline-block;
    text-decoration:line-through;
    font-size: 18px;
}
.cart-btn-text{
    display: inline;
}
.cart-btn{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 18px;
    background-color: darkgray;
    align-content: center;
    margin-bottom: 10px;
}
.cart-btn:link,
.cart-btn:visited{
    background-color: darkgray;
    outline: none;
    border: none;
}
.cart-btn:hover,
.cart-btn:active{
    background-color: #ff8000;
    color: white;
    outline: none;
    border: none;
    transition: 0.2s;
}
/*********FOOTER*********/

.final-foot{
    background-color: #2f2d2d;
}
.foot-txt{
    color: #e8e2e2;
}

/******MEDIA QUERIES******/

@media only screen and (max-width:1200px){
    .hero-box{
        height: 100vh;
        background-size: 1200px 100vh;
    }
    .hero-heading{
        font-size: 2.4rem;
        margin-top: 10%
    }
    .hero-text-1{
        margin-top: 17px;
        font-size: 2.8rem;
    }
    .search{
        width: 350px;
    }
    .hero-text-2{
        font-size: 1.6rem;
    }
    .name{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2rem;
        padding-bottom: 7px;
    }
    .container-price{
        width: 100%;
    }
    .price{
        font-size: 1.4rem;
    }
    .dashed-price{
        font-size: 1rem;
    }
    .cart-btn{
        font-size: 14px;
    }
}
@media only screen and (max-width:992px){
    .hero-box{
        height: 100vh;
        background-size: 992px 100vh;
    }
    .hero-heading{
        font-size: 2.2rem;
        margin-top: 14%;
    }
    .hero-text-1{
        font-size: 2.5rem;
        margin-top: 15px;
    }
    .search{
        width: 330px;
    }
    .hero-text-2{
        font-size: 1.4rem;
    }
    .name{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.1rem;
        padding-bottom: 7px;
    }
    .container-price{
        width: 100%;
        height: auto;
    }
    .price{
        font-size: 1.2rem;
    }
    .dashed-price{
        font-size: 0.9rem;
    }
    .cart-btn{
        position:relative;
        width: auto;
        font-size: 12px;
        right: 5px;
    }
    
}
@media only screen and (max-width:767px){
    .hero-box{
        height: 100vh;
        background-size: 767px 100vh;
    }
    .hero-heading{
        font-size: 2em;
        margin-top: 20%;
    }
    .hero-text-1{
        margin-top: 10px;
        font-size: 2.2rem;
    }
    #apos{
        font-size: 3rem;
    }
    .search{
        width: 320px;
    }
    .hero-text-2{
        font-size: 1.3rem;
    }
    .name{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.1rem;
        padding-bottom: 0px;
    }
    .container-price{
        width: 100%;
    }
    .offer{
        margin-bottom: 15px;
    }
    .price{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    .dashed-price{
        font-size: 0.9rem;
        margin-bottom: 20px
    }
    .cart-btn{
        width: 125px;
        font-size: 14px;
    }
}
@media only screen and (max-width:574px){
    .hero-box{
        height: 100vh;
        background-size: 574px 100vh;
    }
    .hero-heading{
        font-size: 1.8rem;
        margin-top: 25%;
    }
    .hero-text-1{
        margin-top: 10px;
        font-size: 2rem;
    }
    .hero-text-2{
        margin-bottom: 20px;
    }
    #apos{
        font-size: 2.8rem;
    }
    .search{
        width: 280px;
        padding-left: 14px;
    }
    .hero-text-2{
        font-size: 1.1rem;
    }
    .name{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        padding-bottom: 0px;
    }
    img{
        width: 100%;
    }
    .row{
        margin-left: 10%;
    }
    .polaroid{
        width: 90%;
    }
    .container-price{
        width:100%;
    }
    .offer{
        margin-bottom: 15px;
    }
    .price{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    .dashed-price{
        font-size: 0.9rem;
        margin-bottom: 20px
    }
    .cart-btn{
        width: 125px;
        font-size: 14px;
    }
    .side-nav-prof img{
        margin: 0% 30%;
    }
}
@media only screen and (max-width:480px){
    .hero-box{
        height: 100vh;
        background-size:480px 100vh;
    }
    .hero-heading{
        font-size: 1.8rem;
        margin-top: 30%;
    }
    .hero-text-1{
        margin-top: 10px;
        font-size: 2rem;
    }
    #apos{
        font-size: 2.8rem;
    }
    .search{
        width: 250px;
        height: 35px;
        padding-left: 12px;
        font-size: 14px;
    }
    .search-btn{
        width: 73px;
        font-size: 15px;
        height: 38px;
    }
    .hero-text-2{
        font-size: 1.1rem;
    }
    .name{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        padding-bottom: 0px;
    }
    img{
        width: 100%;
    }
    .row{
        margin-left: 10%;
    }
    .polaroid{
        width: 90%;
    }
    .container-price{
        width:100%;
    }
    .offer{
        margin-bottom: 15px;
    }
    .price{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    .dashed-price{
        font-size: 0.9rem;
        margin-bottom: 20px
    }
    .cart-btn{
        width: 125px;
        font-size: 14px;
    }
    .side-nav-prof img{
        margin: 0% 30%;
    }
}
@media only screen and (max-width:398px){
    .hero-box{
        height: 100vh;
        background-size:398px 100vh;
    }
    .hero-heading{
        font-size: 1.8rem;
        margin-top: 35%;
    }
    .hero-text-1{
        margin-top: 10px;
        font-size: 2rem;
    }
    #apos{
        font-size: 2.8rem;
    }
    .search{
        width: 200px;
        padding-left: 8px;
        font-size: 12px;
        height: 33px;
    }
    .search-btn{
        width: 73px;
        font-size: 15px;
        height: 36px;
         padding: 3px 5px;
    }
    .hero-text-2{
        font-size: 1.1rem;
    }
    .name{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        padding-bottom: 0px;
    }
    img{
        width: 100%;
    }
    .row{
        margin-left: 10%;
    }
    .polaroid{
        width: 90%;
    }
    .container-price{
        width:100%;
    }
    .offer{
        margin-bottom: 15px;
    }
    .price{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    .dashed-price{
        font-size: 0.9rem;
        margin-bottom: 20px
    }
    .cart-btn{
        width: 125px;
        font-size: 14px;
    }
    .side-nav-prof img{
        margin: 0% 30%;
    }
}
@media only screen and (max-width:345px){
    .hero-box{
        height: 100vh;
        background-size:345px 100vh;
    }
    .hero-heading{
        font-size: 1.8rem;
        margin-top: 43%;
    }
    .hero-text-1{
        margin-top: 10px;
        font-size: 2rem;
    }
    #apos{
        font-size: 2.8rem;
    }
    .search{
        width: 180px;
        padding-left: 12px;
        height: 28px;
        font-size: 10px;
    }
    .search-btn{
        width: 68px;
        font-size: 12px;
        height: 31px;
        padding: 3px 5px;
    }
    .hero-text-2{
        font-size: 1.1rem;
    }
    .name{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        padding-bottom: 0px;
    }
    img{
        width: 100%;
    }
    .row{
        margin-left: 10%;
    }
    .polaroid{
        width: 90%;
    }
    .container-price{
        width:100%;
    }
    .offer{
        margin-bottom: 15px;
    }
    .price{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    .dashed-price{
        font-size: 0.9rem;
        margin-bottom: 20px
    }
    .cart-btn{
        width: 125px;
        font-size: 14px;
    }
    .side-nav-prof img{
        margin: 0% 19%;
    }
}
@media only screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .side-nav-prof{padding-top: 15px;}
    .prof-img{
        width: 120px;
        left: 60px;
    }
    .prof-name{
        font-size: 1.4rem;
    }
    .side-nav-settings {padding-top: 15px;}
    .side-nav-settings a {font-size: 18px;}
    .side-nav-settings-account {padding-top: 15px;}
    .side-nav-settings-account a {font-size: 18px;}
}
