*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*******HEADPART SECTION********/
nav{
    display: block;
}
.hero-box{
    padding: 55px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgb(5,5,5),rgba(11, 6, 3, 0.79)),url(images-rapidbasket/cartimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-text{
    color: #e1e1e3;
}
.btns{
    width: 100%;
    text-align: center;
}
.submit-btn,.cancel-btn{
    width: 50%;
    float: left;
    display: inline-block;
}

.pass-recovery:hover,
.pass-recovery:active{
    text-decoration: none;
}

input[type="text"]{
    background-image: url(images-rapidabasket/user.svg);
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position: 8px ;
    padding-left: 39px;
}
input[type="email"]{
    background-image: url(images-rapidabasket/envelope_open.svg);
    background-repeat: no-repeat;
    background-size: 24px auto ;
    background-position: 8px ;
    padding-left: 39px;
}
input[type="password"]{
    background-image: url(images-rapidabasket/padlock.svg);
    background-repeat: no-repeat;
    background-size: 24px auto ;
    background-position: 8px ;
    padding-left: 39px;
}
label{
    color: #e1e1e3;
}
input{
    border: none !important;
    border-style: none;
    outline: none ;
    border-bottom: solid 1px #fff !important;
    background-color: rgba(255, 255, 255, 0) !important ;  
    border-radius: 0px !important;
}

/*****MEDIA QUERIES*****/

@media only screen and (max-width:1200px){
    .hero-text{
        font-size: 2.5rem;
    }
}
@media only screen and (max-width:992px){
    .hero-text{
        font-size: 2.2rem;
    }
}
@media only screen and (max-width:767px){
    .hero-text{
        font-size: 1.9rem;
    }
}
@media only screen and (max-width:576px){
    .hero-text{
        font-size: 1.6rem;
    }
}
